<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.password">654321</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/rssagregator</property>
        <property name="connection.username">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="databasename">rssagregator</property>
        <property name="connection.schemaname">public</property>
        <property name="current_session_context_class">thread</property>
        
        <mapping class="com.sternkn.testtasks.rss.domain.RssFeed" />
		<mapping class="com.sternkn.testtasks.rss.domain.RssNew" />
    </session-factory>
</hibernate-configuration>
